@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Edu+TAS+Beginner:wght@500&family=Great+Vibes&family=Inter:wght@400;700&family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700&family=Niconne&family=Play&family=Satisfy&family=Whisper&family=Work+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 30px 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;

}
nav>ul{
    display: flex;
    
}
nav li{
    list-style: none;
    cursor: pointer;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;

}
.banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 60%;
    margin-bottom: 20px;
}
.banner-content .banner-title{
    color: #3A3A3A;
    font-family: Poppins;sans-sarif;
    font-size:3.25rem;
    font-weight: 700;
    margin-bottom: 10px;

}
.banner-content .banner-description{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;

}
.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    outline: none;
    margin-right: 8px;
    
}
 .fa-solid{
    margin-left: 8px;
    
}
.banner-img{
    position: relative;
    padding-top: 70px;
    width: 40%;
}
.banner-img .img-2{
    position: absolute;
    left: 10%;
    bottom: 10%;
}